.banner{
    background-color: mediumslateblue;
    width: 100%;
    height: 150px;
    border: 3px solid black;

}

.texto{
    text-align: center;
    width: 400px;
    height: 80px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}