.menu01{
    background-color:brown;
    width: 2000px;
    height: 100px;
    position: fixed;
}
.reservas{
    background-color:lightcoral;
    width: 70px;
    height: 40px;
    display: inline-block;
    padding: 30px;
    margin-left: 500px;

}

.cardapio{
    background-color: lightcoral;
    width: 70px;
    height: 40px;
    display: inline-block;
    padding: 30px;

    

}
.promocoes{
    background-color:lightcoral;
    width: 110px;
    height: 70px;
    display: inline-block;
    padding-top: 30px;
    text-align: center;
}

.pagina{
    background-color:lightcoral; 
    width: 120px;
    height: 70px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
}

body{
    background-color: darksalmon;
}

a{
    color:black;
}

h3{
    color:brown
}