.menu01{
    background-color:brown;
    width: 2000px;
    height: 100px;
    position: fixed;
}

.reservas{
    background-color:lightcoral;
    width: 70px;
    height: 40px;
    display: inline-block;
    padding: 30px;
    margin-left: 500px;

}

.cardapio{
    background-color: lightcoral;
    width: 70px;
    height: 40px;
    display: inline-block;
    padding: 30px;

    

}
.promocoes{
    background-color:lightcoral;
    width: 110px;
    height: 70px;
    display: inline-block;
    padding-top: 30px;
    text-align: center;
}

.pagina{
    background-color:lightcoral; 
    width: 120px;
    height: 70px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
}

.promocoes1{
    color:red;
    border: 5px solid red;
    background-color:white ;
    width: 1525px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;

}
body{
    background-color:coral ;
}

.promocoes1{
    color:red;
    border: 5px solid red;
    background-color:white ;
    width: 1525px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
}

    table,th,td{
        border: 1px solid black;
        color: black;
        font-family: sans-serif ;
        font-size: 20px;
        position: sticky  ;
        left: 200px;
        align-content: center;
        text-align: center;
       
    }
    th{
        background-color: brown;
        font-weight: 100;
    }
    tr:nth-child(even) {
    background-color:  white;
    }
    tr:nth-child(odd) {
    background-color: brown;
    }
    .texto{
        text-align: center;
        align-content: center;
    }
    th,td{
        padding: 5px;
    }