.divPrincipal{
    background-color: burlywood;
    text-align: center;
    align-content: center;
    width: 400px;
    height: 300px;
    padding: 80px;

}

.divSecundaria{
    background-color: cyan;
    text-align: center;
    align-content: center;
    width: 200px;
    height: 100px;
    margin: 30px;
}