.caixa{
    height: 400px;
    width: 300px;
    background-color: darkturquoise;
    position: relative;
}
.caixamenor{
    height: 100px;
    width: 100px;
    background-color: royalblue;

    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    align-content: center;
}